.label{
    width: 15vw;
    min-width: fit-content;
    height: 45vh;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    color: white;
    margin: 1px;
}
.headers{
    font-size: 1.1vw;
    width: 15vw;
    height: 8vh;
    padding-top: 5px;
}
.prices{
    font-size: 1vw;
    width: 15vw;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blue-header{
    background-color: rgb(57, 137, 186);
    border: 1px solid white;
    margin: 0px;
}
.blue-price{
    background-color: rgb(90, 179, 243);
    margin: 0px;
}

.green-header{
    background-color: rgb(45, 141, 104);
    border: 1px solid white;
    margin: 0px;
}
.green-price{
    background-color: rgb(50, 182, 131);
    margin: 0px;
}

.red-header{
    background-color: rgb(194, 64, 55);
    border: 1px solid white;
    margin: 0px;
}
.red-price{
    background-color: rgb(228, 83, 83);
    margin: 0px;
}

.black-header{
    background-color: rgba(24, 24, 24, 0.918);
    border: 1px solid white;
    margin: 0px;
}
.black-price{
    background-color: rgba(35, 35, 35, 0.848);
    margin: 0px;
}

.speed{
    font-size: 1vw;
    width: 15vw;
    height: 8vh;
    background-color: rgb(241, 241, 241);
    color: grey;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    font-size: 1vw;
    line-height: 1.7;
    width: 15vw;
    height: 10vh;
    background-color: rgb(233, 233, 233);
    color: rgb(99, 98, 98);
    margin: 0px;
}
.sizePrice{
    margin: 10px;
    font-size: 3.5vw;
}
.success{
    transition: 0.5s;
    &:hover{
        transform: scale(1.1);
        box-shadow: 1px 10px 20px 5px rgba(120, 114, 114, 0.2);
    }
}